* {
    margin: 0;
    padding: 0;
}

.contact-Top {
    background-image: url("Photos/contact.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 800px;
}

.contact-head {
    display: inline-block;
    padding: 20px;
    margin-left: 60px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contact-head2 {
    display: inline-block;
    margin-left: 58%;
    padding: 20px;
    font-size: 13px;
}

.contact-btn1 {
    display: inline-block;
    margin-left: 5px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
}

.contact-btn1:hover {
    padding: 15px 32px;
    background-color: #c2cac3;
    color: black;
}

li {
    display: inline;
    padding: 20px;

}

ul {
    margin-left: 46%;
    padding: 50px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    background-color: aliceblue;
    color: green;
    padding: 12px;
    border-radius: 20px;

}

.contact-content {
    margin-left: 55%;
    margin-top: 50px;
    letter-spacing: 1px;
    word-spacing: 6px;
    line-height: 1.6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

form {
    width: 600px;
    margin: 20px auto;
    padding: 40px;
}

label {
    margin-bottom: 40px;
    font-weight: 600;
    color: #333;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

.input,
.input2 {
    width: 100%;
    padding: 10px 12px;
    margin-top: 20px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.contact-btn2 {
    background-color: #52a83c;
    margin-bottom: 20px;
    margin-left: 46%;
    color: rgb(17, 14, 14);
    border: none;
    padding: 12px 18px;
    font-size: 25px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-btn2:hover {
    background-color: gray;
    color: black;
}

.input2 {
    height: 200px;
}

.contact-check {
    margin-left: 43%;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.contact-done {
    display: inline-block;
    margin-left: 36%;
    padding: 50px;
}

.contact-A {
    padding: 12px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact-A {
    text-decoration: none;
    color: black;
}

.contact-A:hover {
    background-color: aliceblue;
    color: green;
    padding: 14px;
    border-radius: 20px;
}

.contact-end {
    width: 94%;
    height: 180px;
    background-color: rgb(47, 85, 77);
    margin-top: 20px;
    padding: 40px;

}

.contact-website {
    margin-left: 26%;
}
.contact-Tophead {
    box-shadow: 0 8px 12px -2px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    background-color: white;
}