* {
    margin: 0;
    padding: 0;
}

.gallery-head {
    display: inline-block;
    padding: 20px;
    margin-left: 60px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.gallery-head2 {
    display: inline-block;
    margin-left: 56%;
    padding: 20px;
    font-size: 13px;
}

.gallery-btn1 {
    display: inline-block;
    margin-left: 3px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
}

.gallery-btn1:hover {
    padding: 15px 32px;
    background-color: #c2cac3;
    color: black;
}

.gallery-Tophead {
    box-shadow: 0 8px 12px -2px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    background-color: white;

}

.li1 {
    display: inline;
    padding: 20px;

}

.ul1 {
    margin-left: 46%;
    padding: 50px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ah, a {
    text-decoration: none;
    color: black;
}

.ah:hover {
    background-color: aliceblue;
    color: green;
    padding: 12px;
    border-radius: 20px;

}
.gallery-image{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    padding: 5px;

}

.gallery-image,img{
   width: 100%;
   height: auto;
   border-radius: 6px;
   object-fit: cover;
}

.gallery-check {
    margin-left: 43%;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.gallery-done {
    display: inline-block;
    margin-left: 36%;
    padding: 50px;
}

.gallery-A {
    padding: 12px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.gallery-A {
    text-decoration: none;
    color: black;
}

.gallery-A:hover {
    background-color: aliceblue;
    color: green;
    padding: 14px;
    border-radius: 20px;
}

footer {
    width: 94%;
    height: 180px;
    background-color: rgb(47, 85, 77);
    padding: 40px;
    margin-top: 100px;

}

.gallery-website {
    margin-left: 26%;
}
.h1{
    font-size: 80px;
    padding: 30px;
    margin-top: 10px;
    text-align: center;
    letter-spacing: 8px;
    font-family: 'Times New Roman', Times, serif;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #4CAF50;
    font-size: 20px;
    text-align: center;
    padding: 30px;
    letter-spacing: 2px;
    line-height: 40px;
}

.li2 {
    display: inline;
    padding: 20px;
    cursor: pointer;

}

.ul2 {
    color: green;
    font-weight: bolder;
    text-align: center;
    padding: 50px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.li2:hover {
    color: rgb(5, 5, 5);
}