* {
    margin: 0;
    padding: 0;
}

.offer-head {
    display: inline-block;
    padding: 20px;
    margin-left: 60px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.offer-head2 {
    display: inline-block;
    margin-left: 56%;
    padding: 20px;
    font-size: 13px;
}

.offer-btn1 {
    display: inline-block;
    margin-left: 3px;
    background-color: #4CAF50;
    border: none;
    color: white;
    font-weight: 700;
    padding: 15px 32px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
}

.offer-btn1:hover {
    padding: 15px 32px;
    background-color: #c2cac3;
    color: black;
}


.offer-Tophead {
    box-shadow: 0 8px 12px -2px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    background-color: white;

}

li {
    display: inline;
    padding: 20px;

}

ul {
    margin-left: 46%;
    padding: 50px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    background-color: aliceblue;
    color: green;
    padding: 12px;
    border-radius: 20px;

}

.offer-section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 60px;
    background: #fff;
}

.offer-img1 {
    margin-bottom: 120px;
    width: 480px;
    height: 350px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.offer-content1 {
    max-width: 800px;
}

.offer-content1 .offer-heading1 {
    color: #32a871;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
}

.offer-content1 .offer-para1 {
    font-size: 24px;
    color: #131111;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 5px;
    line-height: 30px;
}

.offer-heading1 {
    padding-bottom: 10px;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.offer-author1 {
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #4CAF50;

}

.offer-check {
    margin-left: 43%;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.offer-done {
    display: inline-block;
    margin-left: 36%;
    padding: 50px;
}

.offer-A {
    padding: 12px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.offer-A {
    text-decoration: none;
    color: black;
}

.offer-A:hover {
    background-color: aliceblue;
    color: green;
    padding: 14px;
    border-radius: 20px;
}

.offer-end {
    width: 94%;
    height: 180px;
    background-color: rgb(47, 85, 77);
    margin-top: 20px;
    padding: 40px;

}

.offer-website {
    margin-left: 26%;
}

.offer-btn2 {
    margin-left: 1%;
    margin-top: 30px;
    background-color: #5d695d;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.offer-btn2:hover {
    background-color: #c2cac3;
    color: black;
}

.offer-heading01 {
    color: #afb839;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.offer-desc1 {
    padding-top: 10px;
    color: #131111;
    font-size: 20px;
    letter-spacing: 1px;
}

.offer-desc01 {
    padding-top: 10px;
    color: #32a871;
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}